{% extends 'mainapp/basic.html' %}
{% load static %}
{% block title %}
StockPicker
{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}
{% block body %}
<div class="container" style="width: 50%; margin:auto; padding-top:50px;">
    <form action="/stocktracker" style="background-color: #f8f9fa; padding: 20px; border-radius: 15px;">
        <label for="stockpicker" style="font-size: 20px;">Select Stocks:</label>
        <select 
            class="form-select form-select-lg mb-3" 
            multiple 
            aria-label="multiple select example"
            name="stockpicker" 
            style="margin-top: 10px;">
            {% for i in stockpicker %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
        <div class="d-grid gap-2" style="margin-top: 20px;">
            <input 
                class="btn btn-secondary btn-block" 
                type="submit" 
                value="Submit" >
        </div>
        <p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
    </form>
</div>


{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}